export(CreateFreeAgentExpense)
export(CreateFreeAgentExplanation)
export(DeleteFreeAgentResource)
export(GetFreeAgentBankAccounts)
export(GetFreeAgentBankExplanations)
export(GetFreeAgentBankTransactions)
export(GetFreeAgentInvoices)
export(GetFreeAgentProjects)
export(UploadFreeAgentStatement)
importFrom(RCurl,curlPerform)
importFrom(RCurl,fileUpload)
importFrom(RCurl,getURL)
importFrom(RCurl,postForm)
importFrom(rjson,fromJSON)
importFrom(rjson,toJSON)
